.message{
    position: absolute;
    width:150px;
    height: 80px;
    background-color: #c34e00;
    color:white;
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.container{
    text-align: center;
    width:600px;
    margin:150px auto 0;
    height: 250px;
    background-color: #ff6600;
    color: #FFF;
    font-family: Arial, sans-serif;
}
.container:before, .message:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}
.container h1, .message div {
    display: inline-block;
    vertical-align: middle;
}
ul>li{
    float:left;
    margin-right: 15px;
    list-style-type: none;
}
ul{
    overflow: hidden;
}